<section class="product section" id="products">
    <div class="product__block container">
        <p class="product__pre-title">100% natural</p>
        <h2 class="product__title">products</h2>
        <ul class="product__list">
            <li class="product__item product__item--icecream">
                <h3 class="product__name">ice cream</h3>
                <p class="product__text" >Lorem ipsum dolor sit amet, consectetur adipiscing elit, sed do eiusmod tempor incididunt ut labore et</p>
                <button type="button" class="product__btn button">
                    <svg width="12px" height="12px" class="product__icon">
                        <use href="images/products/svg/sprite.svg#arrow-right"></use>
                    </svg>
                </button>
            </li>
            <li class="product__item product__item--icecoffee">
                <h3 class="product__name">ice coffee</h3>
                <p class="product__text" >Lorem ipsum dolor sit amet, consectetur adipiscing elit, sed do eiusmod tempor incididunt ut labore et</p>
                <button type="button" class="product__btn button">
                    <svg width="12px" height="12px" class="product__icon">
                        <use href="images/products/svg/sprite.svg#arrow-right"></use>
                    </svg>
                </button>
            </li>
            <li class="product__item product__item--milkshakes">
                <h3 class="product__name">milkshakes</h3>
                <p class="product__text" >Lorem ipsum dolor sit amet, consectetur adipiscing elit, sed do eiusmod tempor incididunt ut labore et</p>
                <button type="button" class="product__btn button">
                    <svg width="12px" height="12px" class="product__icon">
                        <use href="images/products/svg/sprite.svg#arrow-right"></use>
                    </svg>
                </button>
            </li>
        </ul>
    </div>
</section>

