<section class="about" id="about">
  <div class="container about__container">
    <p class="about__pre-title">tradition and love</p>
    <h2 class="about__title">how it’s made?</h2>
    <div class="about__wrap">
      <div class="about__photo-wrap">
        <picture>
          <source
            srcset="./images/about/cow-1x.png 1x, ./images/about/cow-2x.png 2x"
            media="(min-width: 1280px )"
          />
          <source
            srcset="./images/about/cow-tab-1x.png 1x, ./images/about/cow-tab-2x.png 2x"
            media="(min-width: 768px )"
          />
          <source
            srcset="./images/about/cow-mob-1x.png 1x, ./images/about/cow-mob-2x.png 2x"
            media="(min-width: 320px )"
          />
          <img
            class="about__photo"
            data-aos="fade-up"
            src="./images/about/cow-1x.png"
            alt="Cow with milk"
          />
        </picture>
      </div>
      <div class="about__text-wrap">
        <p class="about__pre-text">
          Fusce ut velit laoreet, tempus arcu eu, molestie tortor. Nam vel justo cursus, faucibus
          lorem eget, egestas eros. Maecenas eleifend erat at justo fringilla.
        </p>
        <p class="about__text">
          Curabitur lacinia enim at ex blandit, vel pellentesque odio elementum. Mauris rhoncus orci
          in imperdiet placerat. Vestibulum euismod nisl suscipit ligula volutpat, a feugiat urna
          maximus. Cras massa nibh, tincidunt.
          <br />
          <br />
          Aliquam erat volutpat. Aenean accumsan.
        </p>
        <button
          type="button"
          data-readmore-open
          class="main-btn main-btn--second-color about-btn button"
        >
          Read more
          <span class="about-btn__item">
            <svg class="about-btn__icon" width="8" height="9">
              <use href="./images/about/about-arrow.svg#icon-about-arrow"></use>
            </svg>
          </span>
        </button>
      </div>
    </div>
  </div>

  <!-- READMORE MODAL -->
  <div class="readmore-backdrop is-hidden" data-readmore>
    <div class="readmore-modal">
      <button type="button" class="readmore-modal__close" data-readmore-close>
        <svg class="readmore-modal__icon" width="14" height="14">
          <use href="images/hero-header/svg/sprite.svg#close"></use>
        </svg>
      </button>
      <h3 class="readmore-modal__title">how it’s made?</h3>
      <p class="readmore-modal__text">
        Lorem ipsum dolor sit amet consectetur, adipisicing elit.
        <picture>
          <source
            srcset="
              images/hero-header/desktop/milk1x.png 1x,
              images/hero-header/desktop/milk2x.png 2x
            "
            media="(min-width: 1280px)"
          />

          <source
            srcset="
              images/hero-header/tablet/milk1x.png 1x,
              images/hero-header/tablet/milk2x.png 2x
            "
            media="(min-width: 768px)"
          />
          <img
            class="readmore-modal__milk-image"
            src="images/hero-header/desktop/milk1x.png"
            alt="Eco Milk"
          />
        </picture>
        Quia minus eaque aliquid in quod soluta.Lorem ipsum dolor sit amet consectetur, adipisicing
        elit. Nemo aspernatur, quisquam, excepturi reiciendis, molestias cumque expedita dignissimos
        voluptates et temporibus eaque sit similique? Quia minus eaque aliquid in quod soluta.
      </p>
      <picture>
        <source
          srcset="
            ./images/products/ice-cream_tab_1x.png 1x,
            ./images/products/ice-cream_tab_2x.png 2x
          "
          media="(min-width: 480px )"
        />
        <img
          class="readmore-modal__icecream-image"
          src="./images/products/ice-cream_tab_1x.png"
          alt="Ice cream"
        />
      </picture>
      <p class="readmore-modal__text">
        Lorem ipsum dolor sit amet consectetur, adipisicing elit. Nemo aspernatur, quisquam,
        excepturi reiciendis, molestias cumque expedita dignissimos voluptates et temporibus eaque
        sit similique?
      </p>
      <p class="readmore-modal__text">
        Quia minus eaque aliquid in quod soluta.Lorem ipsum dolor sit amet consectetur, adipisicing
        elit. Nemo aspernatur, quisquam, excepturi reiciendis, molestias cumque expedita dignissimos
        voluptates et temporibus eaque sit similique? Quia minus eaque aliquid in quod soluta.
      </p>
      <p class="readmore-modal__after-text animate__animated animate__head-shake">
        Made with passion!
      </p>
    </div>
  </div>
</section>
