<section class="gallery gallery__gradient">
    <h2 class="visually-hidden">gallery</h2>
    <div class="container gallery__position">
        <picture>
            <source srcset="./images/gallery/desktop/ice-cream-green.png 1x, ./images/gallery/desktop/ice-cream-green-x2.png 2x" >
            <img class="gallery__image gallery__image-green" data-aos="fade-right" src="./images/gallery/desktop/ice-cream-green.png" alt="зеленое мороженое ">
        </picture>
        <picture>
            <source srcset="./images/gallery/desktop/ice-cream-yellow.png 1x, ./images/gallery/desktop/ice-cream-yellow-x2.png 2x" >
            <img class="gallery__image gallery__image-yellow" data-aos="fade-right" src="./images/gallery/desktop/ice-cream-yellow.png" alt="мороженое на желтом фоне">
        </picture>
        <picture>
            <source srcset="./images/gallery/desktop/ice-cream-pink.png 1x, ./images/gallery/desktop/ice-cream-pink-x2.png 2x" >
            <img class="gallery__image gallery__image-pink" data-aos="fade-right" src="./images/gallery/desktop/ice-cream-pink.png" alt="розовое мороженое">
        </picture>
        <picture>
            <source srcset="./images/gallery/desktop/ice-creams.png 1x, ./images/gallery/desktop/ice-creams-x2.png 2x" >
            <img class="gallery__image-ice-creams" data-aos="fade-up" src="./images/gallery/desktop/ice-creams.png" alt="мороженое">
        </picture>
        <picture>
            <source srcset="./images/gallery/desktop/ice-cream-girl.png 1x, ./images/gallery/desktop/ice-cream-girl-x2.png 2x" >
            <img class="gallery__image-girl" data-aos="fade-up" src="./images/gallery/desktop/ice-cream-girl.png" alt="мороженое">
        </picture>
        <picture>
            <source srcset="./images/gallery/desktop/ice-cream-berry.png 1x, ./images/gallery/desktop/ice-cream-berry-x2.png 2x" >
            <img class="gallery__image gallery__image-berry"  data-aos="fade-left" src="./images/gallery/desktop/ice-cream-berry.png" alt="мороженое">
        </picture>
        <picture>
            <source srcset="./images/gallery/desktop/ice-cream-hand.png 1x, ./images/gallery/desktop/ice-cream-hand-x2.png 2x" >
            <img class="gallery__image gallery__image-hand" data-aos="fade-left" src="./images/gallery/desktop/ice-cream-hand.png" alt="мороженое">
        </picture>
        <picture>
            <source srcset="./images/gallery/desktop/ice-cream-dog.png 1x, ./images/gallery/desktop/ice-cream-dog-x2.png 2x" >
            <img class="gallery__image gallery__image-dog" data-aos="fade-left" src="./images/gallery/desktop/ice-cream-dog.png" alt="мороженое">
        </picture>
        <picture>
            <source srcset="./images/gallery/desktop/milkshake.png 1x, ./images/gallery/desktop/milkshake-x2.png 2x" >
            <img class="gallery__image gallery__image-milkshake" data-aos="fade-left" src="./images/gallery/desktop/milkshake.png" alt="мороженое">
        </picture>
        <picture>
            <source srcset="./images/gallery/desktop/cupcake.png 1x, ./images/gallery/desktop/cupcake-x2.png 2x" >
            <img class="gallery__image gallery__image-cupcake" data-aos="fade-left" src="./images/gallery/desktop/cupcake.png" alt="мороженое">
        </picture>
    </div>
</section>