<section class="container swiper my-swiper">
  <h2 class="visually-hidden">review</h2>
  <div class="swiper-wrapper">
    <article class="swiper-slide customer-item">
      <h2 class="visually-hidden">review</h2>
      <img
        class="swiper-image"
        src="./images/review/emily_photo.png"
        alt="emily_photo"
        width="85"
      />
      <div class="swiper-slide__text--block">
        <p class="reviews__text">
          Nullam viverra consectetuer. Quisque cursus et, porttitor risus. Aliquam sem. In hendrerit
          nulla quam nunc, accumsan congue. Lorem ipsum primis in nibh vel risus.
        </p>
      </div>

      <p class="reviews__person">Emily, Los Angeles</p>
    </article>
    <article class="swiper-slide">
      <h2 class="visually-hidden">review</h2>
      <img class="swiper-image" src="./images/review/Katy.png" alt="emily_photo" width="85" />
      <div class="swiper-slide__text--block">
        <p class="reviews__text">
          Nullam viverra consectetuer. Quisque cursus et, porttitor risus. Aliquam sem. In hendrerit
          nulla quam nunc, accumsan congue. Lorem ipsum primis in nibh vel risus.
        </p>
      </div>

      <p class="reviews__person">Kandy, San Antonio</p>
    </article>
    <article class="swiper-slide">
      <h2 class="visually-hidden">review</h2>
      <img class="swiper-image" src="./images/review/Samanta.png" alt="emily_photo" width="85" />
      <div class="swiper-slide__text--block">
        <p class="reviews__text">
          Nullam viverra consectetuer. Quisque cursus et, porttitor risus. Aliquam sem. In hendrerit
          nulla quam nunc, accumsan congue. Lorem ipsum primis in nibh vel risus.
        </p>
      </div>

      <p class="reviews__person">Samanta, New York</p>
    </article>
  </div>
  <div class="container swiper-pagination"></div>
</section>
